* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: #001e4d; */
    background-image: url('picture/quiz-back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: black; */
    color: white; 

}

/* navigation bar start */
.nav{
    width: 100%;
    height:60px;
    line-height: 40px;
    background-color: rgba(220, 220, 220, 0.7);
    font-size: 13px;
    position: fixed;
    top: 0;
    display: flex;

}
.nav .wrap{
    width:1226px;
    margin: 10px auto;

}

.nav .wrap .intronav-left {
    float: left;
}
.nav .wrap .intronav-right {
    float: right;
}

.nav .wrap li {
    float: left;
    list-style-type: none;
}

.nav .wrap li a {
    text-decoration: none;
}
.nav .wrap li a:hover {
    text-decoration: underline;
}
.nav .wrap .intronav-right li span {
    margin: 0 3.6px;

}

.gray_rabbit {
    margin-right: 10px;
    border-radius: 20px;
}
/* navigation bar end */





.container {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex; /* 使用flex布局*/
    justify-content: center; /*水平居中*/
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 设置body的高度为视口的高度 */
    margin: 10px;  
}

#start-button {
    background-color: aliceblue;
    color: black;
    border-color: aliceblue;
    font-size: 16px;

}
#start-ul li{
    list-style-type: none;
}

#next-button {
    background-color: aliceblue;
    color: black;
    border-color: aliceblue;
    font-size: 16px;

}
#restart-button {
    background-color: aliceblue;
    color: black;
    border-color: aliceblue;
    font-size: 16px;
}



#question {
    font-size: 1.5em;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    padding: 10px;
    background-color: rgb(155, 231, 248,0.4);
    /* border: 1px solid #ccc; */
    cursor: pointer;
}

.option:hover {
    /* background-color: #e0e0e0; */
}

#timer {
    margin-top: 20px;
    font-size: 1.2em;
}

#username {
    background-color: rgba(222, 184, 135, 0.685);
}